@{
    ViewBag.Title = "Graph2d";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Graph/Graph2d.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Shared/Matrix.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Home/CalcLib.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Graph/GraphModule.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Graph/Plotter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Graph/MovieMaker.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Graph/Graph2d.js")" type="text/javascript"></script>
<section id="inputSection">
    <div id="d2Inputs">
        <div class="eqDiv">
            <label class="dependentVariable">
                f(x)=</label><input id="eq1" type="text" class="eqInput" />
            <div class="controlButtons">
                <input type="button" id="plotButton" value="Plot" />
                <input type="button" id="switchTo3dBtn" value="Switch to 3D"/>
            </div>
            <label class="dependentVariable">
                g(x)=</label><input id="eq2" type="text" class="eqInput" />
        </div>
    </div>
    <div id="d3Inputs">
        <div class="eqDiv">
            <label class="dependentVariable">
                f(x,y)=</label><input id="eq1_3d" type="text" class="eqInput" />
            <div class="controlButtons">
                <input type="button" id="plot3dButton" value="Plot" />
                <input type="button" id="switchTo2dBtn" value="Switch to 2D"/>
            </div>
            <label class="dependentVariable">
                g(x,y)=</label><input id="eq2_3d" type="text" class="eqInput" />
        </div>
    </div>
</section>
<section id="plotSection">
</section>
<section id="controlsSection">
    <div id="domainControl" class="domainRangeControl">
        <label>
            X:</label>
        <span class="value" id="lblXMin">0</span>
        <label>
            to
        </label>
        <span id="lblXMax" class="value">0</span>
        <div id="domainSlider" class="domainRangeSlider">
        </div>
        <div><input type="checkbox" id="xPositiveOnly" />Positive Only</div>
        
    </div>
    <hr />
    <div id="rangeControl" class="domainRangeControl">
        <label>
            Y:</label>
        <span class="value" id="lblYMin">0</span>
        <label>
            to
        </label>
        <span id="lblYMax" class="value">0</span>
        <div id="rangeSlider" class="domainRangeSlider">
        </div>
    </div>
    <div id="numPointsDiv">
        <label>N:</label>
        <input type="number" id="numPoints"/>
    </div>
    <div id="rotationAngles">
        <div class="rotationAngleDiv">
            <label>X:</label>
            <input id="xAngleRotation" class="rotationAngleInput" type="number" />
            <input type="button" id="animateXBtn" value="A!"/>
        </div>
        <div class="rotationAngleDiv">
            <label>Y:</label>
            <input id="yAngleRotation" class="rotationAngleInput" type="number" />
            <input type="button" id="animateYBtn" value="A!"/>
        </div>
        <div class="rotationAngleDiv">
            <label>Z:</label>
            <input id="zAngleRotation" class="rotationAngleInput" type="number" />
            <input type="button" id="animateZBtn" value="A!"/>
        </div>
    </div>

    <div id="imageControlDiv">
        <input type="button" id="captureImageButton" value="Capture Image"/>
        <input type="button" id="pushFrameButton" value="Push Frame"/>
        <input type="button" id="popFrameButton" value="Pop Frame"/>
        <input type="button" id="playMovieButton" value="Play Movie"/>
        <label for="frameRate">Rate:</label>
        <input type="number" id="frameRate" value="25"/>
        <input type="button" id="clearMovieButton" value="Clear Movie"/>
        <label for="frameCount">Frames:</label><span id="frameCount">0</span>
        <br/><label for="animationFrameCount">An.Frames:</label>
        <input type="number" id="animationFrameCount" value="150"/>
    </div>
</section>
<section id="statusBarSection">
    <div id="statusBarMsgDiv">
        <span id="statusBarMsg">Plot messages...</span>
    </div>
</section>
<section id="imageCaptureSection">
    <div id="imageDiv"></div>
    <input type="button" id="imageCloseBtn" value="Close"/>
</section>
